{% extends  'nav.html' %}

{% block title %}
Airspex reset password
{% endblock title %}

{% block body %}

{% endblock body %}


{% block style %}
<style>
  .myform{
    
   position:absolute;
   right:200px;
   height:100px;
  }

</style>

{% endblock style %}

{% block form %}
<h1 data-aos = "fade-up"> set new password  </h1>
<br><br><br>
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong></strong>{{message}}
  {% endfor %}
<form class="myform" action="{% url 'set-new-password' uidb64 token %}" method="post"> {% csrf_token %}
    <br><br>
    <div class="row rthree">
        <div class="form-group col-md-6 ffive py-3">
            <input type="password" class="form-control" placeholder="Password" name="pass1">
        </div>
        <div class="form-group col-md-6 fsix py-3">
            <input type="password" class="form-control" placeholder="Confirm Password" name="pass2">
        </div>
    </div>
      <button type="submit">submit</button>
  </div>
</form>
{% endblock form %}


